body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap; /* Allow the columns to wrap on smaller screens */
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.auth-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("/images/pattern.png");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: top left;
}

.auth-form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    251,
    251,
    251,
    0.8
  ); /* White color with 50% transparency */
  z-index: 1;
}

.auth-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  max-width: 500px;
}

.auth-form h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.auth-form p {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 30px;
}

.auth-form .btn-primary {
  background-color: #023770;
  border-color: #567aa0;
}

.auth-form .btn-primary:hover {
  background-color: #567aa0;
  border-color: #567aa0;
  cursor: pointer;
}

.auth-form .input-group-text {
  background-color: #e9ecef;
  border: none;
  border-radius: 0.375rem 0 0 0.375rem;
}

.auth-form .form-control {
  border-left: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

.full-image-section {
  background-color: #f7f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.full-image-section .position-relative {
  position: relative;
  width: 500px;
  height: 500px;
}

.full-image-section .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 600px;
  height: auto;
  z-index: 2;
}

.full-image-section .circle {
  background-color: #ccd7e2;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: blur(50px);
}

/* For tablet screens: width between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .auth-form-container {
    width: 100vw;
    margin: 0 auto; /* Center the form horizontally */
  }

  .auth-form h2 {
    font-size: 24px;
  }

  .auth-form p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .auth-form .btn-primary {
    font-size: 16px;
    padding: 12px;
  }

  .auth-form .input-group-text,
  .auth-form .form-control {
    font-size: 16px;
    padding: 12px;
  }

  .full-image-section {
    display: none; /* Hide the image section */
  }
}

/* For mobile screens: width 768px or less */
@media (max-width: 768px) {
  .auth-form-container {
    width: 100vw;
    padding: 20px;
  }
  .auth-form {
    padding: 20px;
  }

  .auth-form h2 {
    font-size: 20px;
  }

  .auth-form p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .auth-form .btn-primary {
    font-size: 14px;
    padding: 10px;
  }

  .auth-form .input-group-text,
  .auth-form .form-control {
    font-size: 14px;
    padding: 10px;
  }

  .full-image-section {
    display: none;
  }
}
